{% extends 'base.html' %}
{% block content %}

<h1>Mod Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ mod.name }}</span>
        <p>Difficulty to Install: {{ mod.skill }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'mods_update' mod.id %}">Edit</a>
        <a href="{% url 'mods_delete' mod.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}